@import "./variables.scss";
@import "../styles/responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
  grid-auto-flow: dense;
}
.container {
  display: flex;
}
.menuContainer {
  min-width: 250px;
  padding: 6px 20px;
  @include sm {
    padding: 2px;
  }
  border-right: 2px solid $soft-bg;
  @include lg {
    min-width: fit-content;
  }
}
.contentContainer {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
