.add {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 10, 29, 0.446);
  .addContainer {
    width: 400px;
    background-color: #2a3447;
    padding: 20px;
    border-radius: 5px;
    .modle {
      padding: 10px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      span {
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
      }
      h3 {
        margin-bottom: 10px;
      }
    }
    form {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      .formContainer {
        display: flex;
        flex-direction: column;
        gap: 6px;
        label {
          font-weight: 600;
        }
        input {
          padding: 6px 3px;
          border-radius: 4px;
          background-color: transparent;
          outline: none;
          border: 1px solid white;
          color: white;
        }
      }
    }
  }
}
